<%
	if(value){

	var type = value.type;
	var icontype = '';

	if('project' == type){
		icontype = "folder"
	}else if('folder' == type){
		icontype = "folder"
	}else if('html' == type){
		icontype = "code"
	}else if('java' == type){
		icontype = "code"
	}else if('ejs' == type){
		icontype = "code"
	}else if('js' == type){
		icontype = "code"
	}else if('form' == type){
		icontype = "insert-template"
	}else if('wpd' == type){
		icontype = "shuffle"
	}else if('valuechain' == type){
		icontype = "link"
	}else if('rule' == type){
		icontype = "cog2"
	}else if('css' == type){
		icontype = "code"
	}else if('jpeg' == type ||'jpg' == type ||'png' == type ||'gif' == type){
		icontype = "image2"
	}else if('metadata' == type){
		icontype = "cog2"
	}else if('process' == type){
		icontype = "shuffle"
	}else if('navigator' == type){
		icontype = "menu2"
	}else if('page_white_text' == type){
		icontype = "file4"
	}else{
		icontype = "file4"
	}

		var nameField = null;
		var childrenField = null;
		var childLoadMethod = null;	
		
		if(objectMetadata.nameFieldDescriptor)
			nameField = fields[objectMetadata.nameFieldDescriptor.name];

		if(!nameField){
			console.log("Please add @Name for the nameField to " + objectMetadata.name);

			if(objectMetadata.fieldDescriptors.length > 0)
				nameField = fields[objectMetadata.fieldDescriptors[0].name];
		}
		
		if(objectMetadata.childrenFieldDescriptor)
			childrenField = fields[objectMetadata.childrenFieldDescriptor.name];
%>

<div class="item-fix">
	<div class="item">
		<span>x</span>
		<div class="label-content">
			<label style="display:inline-block;">
				<u class="caption"><b class="icon-<%=icontype%> tab_icon"></b> <%=value[nameField.fieldDescriptor.name]%> </u>
			</label>
		</div>
	</div>
</div>

<%	
		if(childrenField){
%>
	<u class="last root" style="display: block; height: auto; overflow: visible;">
		<%=childrenField.here({ejsPath : 'dwr/metaworks/genericfaces/TreeNodeArrayFace.ejs'})%>
	</u>
<%	
		}
	}
%>