<canvas id="radarChart" width="<%=value.width%>" height="<%=value.height%>"></canvas>
<br>
<%

 for(var i in value.radarData){

     var radarData = value.radarData[i];

     %><div style="display:inline-block; background-color: <%=radarData.color%>; width: 15px; height: 15px; "></div> <b><%=radarData.label%></b><br><%
 }

 %>