<table>

    <tr>

<%if(value){%>

     for (var i=0; i<objectMetadata.fieldDescriptors.length; i++){

            var fd = objectMetadata.fieldDescriptors[i];

            if(mw3.isHidden(fields[fd.name])) continue;
            if(fd.name == 'metaworksContext') continue;

            var fieldValue = value[fd.name];
%>

        <th><%=field.displayName%></th>

<%}%>
    </tr>

        <%=fields.elements.here()%>


        <%=methods.add.here()%>

        <%
        if(objectMetadata.serviceMethodContexts)
        for(var i=0; i<objectMetadata.serviceMethodContexts.length; i++){
            var serviceMethod = objectMetadata.serviceMethodContexts[i];

            if(serviceMethod.inContextMenu || serviceMethod.methodName == "add")
                continue;

        %><%=methods[serviceMethod.methodName].here()%> <%
        }
        %>

<%}%>



</table>

