<%if(value){%>

<div class="panel <%=value.selected ? "panel-primary" : "panel-default"%>">
    <%
     var lastIndexOfDot = value.value.__className.lastIndexOf(".");
        var classNameOnly;
        if(lastIndexOfDot > -1){
            classNameOnly = value.value.__className.substr(lastIndexOfDot);
        }else{
            classNameOnly = value.value.__className;
        }

       %>
    <div class="panel-heading" onclick="<%=methods.select.caller()%>"><%=classNameOnly%></div>
    <div class="panel-body"><%=fields.value.here()%></div>
</div>

<%
}
%>