<div class="panel panel-default">
    <div class="panel-heading"><%=value.title%></div>
    <div class="panel-body">
        <ul style="padding: 10px">

            <%=here("elements")%>


        </ul>
    </div>
</div>

